.todo {
    display:flex;
    padding: 20px 10px;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;

    min-width: 200px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid #DDD;
}

.todo:nth-child(even) {
    background-color: #DDD;
    border-bottom: 1px solid #EEE;
}

.todo .id {
    flex: 1 1 20px;
    color: white;
    font-size:21px;
    background-color:darkgreen;
    padding: 10px;
    max-width: 50px;
}

.todo .content {
    flex: 1 1 100%;
    font-size: 21px;
    font-weight: 200;
    color: #FFF;
    margin: 30px;
    
}

.todo.done .content {
    text-decoration: line-through;
}

.delete {
  flex: 1 1 50px;
}

.todo-input {
	display: block;
	width: 100%;
  max-width: 600px;
	padding: 10px 15px;
	appearance: none;
	border: none;
	background-color: #FFF;
	margin-top: 15px;
	font-size: 20px;
	outline: none;
  margin: 20px auto;
}


/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.todo-submit {
	display: block;
	width: 100%;
	max-width: 200px;
	appearance: none;
	border: none;
	outline: none;

	margin: 15px auto 100px auto;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;
}


.themeselector {
  display: flex;
  padding: 15px 60px;
  width: 100%;
}

.theme {
  flex: 1 1 20px;
  text-align: center;
  font-size: 30px;
  color: white;
  background: gray;
  margin: 10px;
  padding: 30px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bouldering {
  background-image: url(https://images.pexels.com/photos/8454450/pexels-photo-8454450.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.swimming {
  background-image: url(https://images.pexels.com/photos/1298684/pexels-photo-1298684.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.summer {
  background-image: url(https://images.pexels.com/photos/1337825/pexels-photo-1337825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.ice {
  background-image: url(https://images.pexels.com/photos/813872/pexels-photo-813872.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}


.double-razor {
  align-items: center;
  padding: 50px 30%;
  margin: 1em -1em;
  display: flex;  
}


.double-razor:before, .double-razor:after {
  height: 3px;
  box-shadow: 0 -1px 0 black, 0 1px 0 black;
  border-width: 0;
  margin: 0 1em;
  content: "";
  flex: 1;
}